*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: black 1px;
    background-color: grey;
}
.list{
    text-align: center;
    color: white;
}
#btn{
    margin-left: 500px;
    background-color:black;   
     color: white;
}